body {
  background: hotpink;
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#tasty-donuts,
#meat-donuts,
#plant-based-donuts,
.form {
  min-height: calc(100vh - 100px);
  padding-top: 100px;
}

header {
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .gottfrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
  }
}

.shopping-cart {
  font-size: 2rem;
  color: black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  padding: 10px;
  width: 100vw;
}

.contentwrapper {
  width: 100vw;
}

article {
  padding: 10px;
  border: 1px solid black;
  width: 100%;
  height: 200px;
  background-color: white;
}
