body {
  background-image: "assets/img/29a2d4a768051d6bfaa7a8a59d3dfba2.jpg";
  background-repeat: repeat;
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .gottfrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
  }
}

.filter-buttons {
  height: 20px;
  width: 100%;
  position: fixed;
  top: 100px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  button {
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 1rem;
  }
}

main {
  padding: 10px;
  width: 100vw;
  margin: auto;
}

.donutContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 920px;
  margin: auto;
  align-items: center;
  margin-top: 200px;
  border: 1px solid black;
}

.donut {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.donut-info {
  box-sizing: border-box;
  line-height: 2;
  padding: 10px;

  border: 1px solid black;
}

.shopping-button {
  padding: 40px;

  button {
    color: white;
    background-color: black;
    border: none;
    font-size: 2rem;
    width: 40px;
  }
  button:hover {
    outline: 1px solid palevioletred;
  }
}
