html {
  scroll-behavior: smooth;
}

body {
  background: hotpink;
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .gottfrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
  }
}

.filter-buttons {
  height: 20px;
  width: 100%;
  position: fixed;
  top: 100px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  button {
    border: none;
    background-color: white;
    cursor: pointer;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  padding: 10px;
  width: 100vw;
  margin: auto;
}

img {
  border: 1px solid black;
}

.donutContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 920px;
  margin: auto;
  align-items: center;
  margin-top: 200px;
}

.donut {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.donut-info {
  width: 200px;
  border: 1px solid black;
}

.shopping-button {
  padding: 10px;

  button {
    color: white;
    background-color: black;
    border: none;
    font-size: 2rem;
    width: 40px;
  }
  button:hover {
    outline: 1px solid palevioletred;
  }
}
