.donut-nav {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.donut-nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.donut-link {
  color: black;
  transition: 0.3s ease;
}

.donut-link:hover {
  color: hotpink;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

@media (max-width: 720px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .donut-nav-menu {
    position: fixed;
    left: -100%;
    top: 80px;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: white;
  }

  .donut-nav-menu.active {
    left: 0;
  }
}
