.shopping-cart {
  font-size: 2rem;
  color: black;
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 20px;
}

.items-in-cart {
  background-color: hotpink;
  position: relative;
  left: -20px;
  bottom: 20px;
  border-radius: 50%;
  padding: 5px;
  font-size: 1rem;
}

.shopping-cart-menu {
  padding-top: 10px;
  bottom: 0;
  position: fixed;
  top: 210px;
  width: 100%;
  visibility: hidden;
  background-color: white;
  overflow-y: auto;
  left: -200%;
  transition: 0.5s;
}

.shopping-cart-object {
  height: 100px;
}

.cart-info {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  .cart-img,
  .cart-item-name,
  .cart-item-sum {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cart-item-amount {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .remove-cart-item {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 1.5rem;
  }
}

.checkout-order {
  padding: 10px;
  width: 100%;
  background-color: white;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  outline: 1px solid black;
  align-items: center;
  button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 50px;
  }
}

button:hover {
  transform: scale(1.1);
}

.shopping-cart-menu.active {
  visibility: visible;
  left: 0;
}
